* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}

.home,
.past,
.future {
  width: 68vw;
  position: absolute;
  height: 100vh;
}

.home-content,
.past-content,
.future-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home {
  background-image: linear-gradient(to top, #857484 0%, #574839 100%);
}
.past {
  background-image: linear-gradient(to top, #8364fe 0%, #ffffff 100%);
}
.future {
  background-image: linear-gradient(to top, #475947 0%, #375937 100%);
}
#ppf {
  justify-content: center;
  text-align: center;
  background-color: purple;
  height: 50vh;
}

#ppf a {
  color: black;

  margin: auto;
}

#bottomSquare {
  background-color: red;
  height: 50vh;
}
.nav {
  width: 100%;
  padding: 5vh 0vh;
}
